@import url("https://api.fontshare.com/v2/css?f[]=general-sans@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: general sans;
  background-color: var(--background);
  color: var(--primary);
  --primary: rgb(248, 249, 250);
  --secondary: rgb(124, 58, 237);
  --background: rgb(11, 2, 22);
  --pink: rgb(255, 0, 204);
  --gray: rgb(132, 146, 166);
}

.light {
  background-color: var(--background);
  color: var(--primary);
  --primary: rgb(11, 2, 22);
  --secondary: rgb(255, 0, 204);
  --background: rgb(248, 249, 250);
  --pink: rgb(255, 0, 204);
  --gray: rgb(70, 72, 77);
}

* {
  @apply transition-all duration-500;
  @apply scroll-smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  outline: 1px solid var(--secondary);
}

.animateRocket {
  animation-duration: 10s;
  animation-name: animate-rocket;
}

@keyframes animate-rocket {
  0% {
    transform: scale(1) rotate(10deg);
  }

  5% {
    transform: scale(1.25) rotate(15deg);
  }

  10% {
    transform: scale(1.5) rotate(5deg);
  }

  15% {
    transform: scale(1.75) rotate(-10deg);
  }

  100% {
    transform: scale(20) translate3d(100vw, -100vh, 0) rotate(0);
  }
}
