@import url("https://api.fontshare.com/v2/css?f[]=general-sans@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: general sans;
  background-color: var(--background);
  color: var(--primary);
  --primary: rgb(248, 249, 250);
  --secondary: rgb(124, 58, 237);
  --background: rgb(11, 2, 22);
  --pink: rgb(255, 0, 204);
  --gray: rgb(132, 146, 166);
}

.light {
  background-color: var(--background);
  color: var(--primary);
  --primary: rgb(11, 2, 22);
  --secondary: rgb(255, 0, 204);
  --background: rgb(248, 249, 250);
  --pink: rgb(255, 0, 204);
  --gray: rgb(70, 72, 77);
}

* {
  @apply transition-colors duration-500;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  outline: 1px solid var(--secondary);
}
